/xdp-shield
/bpf/*.o
/runtime/
*.log
*.pcap
*.pcapng

/datasets/blacklist/*
!/datasets/blacklist/.gitkeep
/datasets/whitelist/*
!/datasets/whitelist/.gitkeep

__pycache__/
*.pyc
.vscode/
.idea/
*.swp
*~